@font-face {
    font-family: 'LXGWWenKai-Regular';
    src: url('https://github.com/liuyunplus/yun-blog-data/raw/main/font/LXGWWenKai-Regular.subset.ttf');
    font-weight: normal;
    font-style: normal;
}